/**
 *
 * Structure générale du site
 *
 */

/*==============================
=            Header            =
==============================*/

.header {
	position: relative;
}
.header--container {
	display: flex;
	justify-content: space-between;
}

.logo {
	display: block;
	max-width: 200px;
	margin-left: 90px;
	margin-right: floor(($grid-gutter-width / 2));
	padding-top: $line-height-computed;
	padding-bottom: $line-height-computed;
	text-align: center;

	svg {
		display: inline-block;
	}

	@media (min-width: $grid-float-breakpoint) {
		margin-left: 0;
		align-self: center;
		margin-right: auto;
	}
}

/*=====  End of Header  ======*/

/*============================
=            Main            =
============================*/

.main {
	margin-bottom: 50px;
	// position: relative;
	// z-index: -1;
}

/*=====  End of Main  ======*/



/*=================================
=            PROTOTYPE            =
=================================*/

.header, .footer {
	background-color: $gray-lighter;
}

/* Logo */
.logo {
	@media (min-width: $grid-float-breakpoint) {
		float: left;
	}
}

/* Navigation */
.navbar {
	@media (min-width: $grid-float-breakpoint) {
		clear: both;
	}
}

/* Navigation secondaire */
.secondary-nav-list {
	display: none;
	@media (min-width: $grid-float-breakpoint) {
		display: block;
		float: right;
	}
}
.secondary-nav-item {
	display: inline-block;
}
.secondary-nav-link {
	text-decoration: none;
	color: #fff;
	background-color: $gray-light;
	padding: 5px 15px;
	margin-left: 10px;
	&:hover, &:focus {
		color: #fff;
		background-color: $gray;
	}
}

/* Footer Nav */
.footer {
	padding: 30px 0;
}
.footer-nav-list {
	text-align: center;
}
.footer-nav-item {
	display: inline-block;
}
.footer-nav-link {
	text-decoration: none;
	color: #fff;
	background-color: $gray-light;
	padding: 5px 15px;
	margin-left: 10px;
	&:hover, &:focus {
		color: #fff;
		background-color: $gray;
	}
}

/* Post resume */
.post-resume {
	border-top: 1px solid $gray-light;
	padding: 30px 0;
	margin-bottom: 30px;
	width: 100%;
	display: flex;

	h2 {
		margin-top: 0;
	}

	&:first-child {
		border: 0;
	}
}
.post-resume-img {
	flex: 0 0 150px;
}
.post-resume-content {
	margin-left: 30px;
}

/* Wysiwyg */
.text-blue {
	color: #0089ff;
}
.text-red {
	color: #ce1c13;
}

/* Post */

.post-thumbnail {
	height: 250px;
	overflow: hidden;

	img {
	height: 250px;
	object-fit: cover;		
	}
}

/*=====  End of PROTOTYPE  ======*/
